*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.banner-container{
    width: 1366px;
    height: 600px;
    background-color: hsl(347, 36%, 95%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    width: 490px;
    height: 350px;
    padding-left: 70px;
}
.banner-image{
    width: 500px;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
}
.banner-img{
    width: 450px;
    height: 550px;
    
}
.banner-heading{
    padding-bottom: 10px;
    font-size: 55px;
}
.banner-paragraph{
    padding-bottom: 10px;
    color: rgba(39, 39, 39, 0.60);
}
.button{
    width: 110px;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    background-color: #E55473;
    font-family: system-ui;
}
.feature-title{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 40px;
    width: 40%;
}
.feature-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.feature-heading{
    font-size: 40px;
    padding-bottom: 20px;
}
.feature-paragraph{
    color: rgba(39, 39, 39, 0.60);
}
.flower-1{
    background-color: #c8f3db;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 320px;
    height: 320px;
}
.flower-2{
    background-color: #e4f0ce;
    border-top-right-radius: 90%;
    border-top-left-radius: 90%;
    width: 280px;
    height: 280px;
    padding-top: 40px;
    padding-left: 30px;
}
.flower-3{
    background-color: #e0e9f3;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 320px;
    height: 320px;
}
.flower-img1{
    width: 200px;
    height: 240px;
    margin-left: 50px;
    margin-top: 80px;
}
.flower-img2{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 50px;
}
.flower-img3{
    width: 200px;
    height: 240px;
    margin-left: 50px;
    margin-top: 80px;
}
.flower-title1{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    font-size: larger;
}
.flower-title2{
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: larger;
}
.flower-title3{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    font-size: larger;
}
.hotdeal-container{
    height: 80vh;
    margin-top: 15%;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hotdeal-title{
    width: 40%;
    height: 30%;
    text-align: center;
}
.hotdeal-heading{
    padding-bottom: 20px;
    font-size: 38px;
}
.hotdeal-paragraph{
    padding-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}
.off{
    color: rgba(229, 84, 115, 1);
}
.insta-title{
    width: 40%;
    text-align: center;
    margin: 10% auto 5%;
}
.insta-heading{
    font-size: 40px;
    padding-bottom: 30px;
}
.insta-para{
    color: rgba(39, 39, 39, 0.60);
}
.insta-images{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.img{
    width: 230px;
    height: 290px;
    margin-top: -50px;
}
.special-container{
    height: 50vh;
    margin-top: 80px;
    background-color: #34a0e9ea;
}
.title-container{
    margin: auto;
    text-align: center;
    width: 1300px;
    padding-top: 50px;
}
.special-heading{
    color: white;
    font-size: xx-large;
    font-family: serif;
    padding-bottom: 20px;
}
.special-para{
    color: rgb(248, 241, 241);
    font-family: serif;
    padding-bottom: 20px;
}
.coupon-container{
    width: 965px;
    height: 350px;
    margin: 100px auto 100px;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: 970px 350px;
}
.coupon-title{
    text-align: center;
    padding: 90px;
}
h1{
    padding-bottom: 15px;
    color: #272727;
}
p{
    color: rgba(39, 39, 39, 0.60);
}
.form-and-button{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.about-form{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    color: rgba(39, 39, 39, 0.60);;
}
.footer-container{
    height: 50vh;
    background-color: #111010;
}
.footer-title{
    width: 600px;
    text-align: center;
    margin: auto;
    padding-top: 95px;
}
.flower{
    color: rgba(229, 84, 115, 1);
}
.shop{
    color: rgba(255, 255, 255, 1);
}
.footer-heading{
    font-size: xx-large;
    padding-bottom: 10px;
}
.footer-para{
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 30px;
}
.last-part{
    color: rgba(255, 255, 255, 0.4);
}